.perfil{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    border-radius: 20px;
    border: solid 1px rgb(235, 26, 204);    
     background-color: rgb(14, 14, 14, 0.5 );
     color: rgb(252, 253, 252);
     font-size: 15px;
     box-shadow: 0 0 30px rgb(235, 26, 204);
}

.perfil:hover{
    scale:calc(1.1);
    transition: 1s;
}