.idboton{
    position:absolute;
    display: flex;
    font-size: 8px;
    border-radius: 10px;
    margin: 5px;
    cursor:auto;
    transition: 0.5s ease;
    background-color:transparent;
    justify-content: space-between;
    width:200px;
}
.button{
    border-radius: 20px;
    background-color: transparent;
    color: rgb(249, 4, 192);
    width: 15px;
    height: 15px;
    margin-right: -5px ;
    padding: 0px;
    font-size: 10px;
    border:solid 1.5px black;
    cursor: pointer;
}
.ids{
    margin-top: 1px;
    margin-left: 3px;
    background-color: rgb(109, 222, 3, 0.5);
    border-radius: 50px;
    height: 17px;
    width: 30px;
    border:solid 1px rgb(243, 4, 171);
    
}
.nombre{
    color: rgb(73, 195, 39) ;
    font-family:fantasy;
    font-size: 20px;
    text-shadow: 5px 5px 5px  rgb(129, 4, 97);
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.imagen{  
    display: flex;
    border-radius: 20px; 
    width: 220px;
    height: 250px;
    box-shadow: 0 0 20px rgba(123, 3, 251, 10.0);
    
}
.button:hover{
transform:scale(2.0);
/* transform: translateY(-20px) scale(1.2); */
}

.container{
    position: fixed;
    background-size:cover ;
    width: 400px;
    height: 100px;
    animation: rotate 60s linear infinite;
    position: absolute;
    opacity: 0.9;
    
    animation-delay: 1s;
    }
    @keyframes rotate{
        0%{
            transform:perspective(300px) rotateY(360deg) translateZ(450px);
            z-index: 10;
        }
        100%{
            z-index: 0;
        }
        to{
            transform:perspective(300px)rotateY(0) translateZ(450px);
        } 
}

.container:hover{
   animation-play-state: paused;
}

 

