.App {
   padding: 25px;
   text-align: center;
   background-image: url("https://rare-gallery.com/uploads/posts/345116-Rick-and-Morty-Cartoon-TV-Series-Rick-Sanchez-Morty-Smith-Spaceship.jpg") ;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
   min-height: 100vh;
   cursor: url("https://es.cursor.style/cursors/1230-rick-and-morty-cursor.svg"), auto;  
}

.nave{
   top: 70px;
  position: absolute;
  left: 75%;
   height: 100px;
   width: 150px;
   animation: rotate 40s linear infinite;
   animation-delay: 1s;
   perspective: 100px;
}
 @keyframes rotate{
   0%{
       transform: rotateY(360deg) translateZ(1800px);
       /* z-index: 10; */
    } 
    50%{
       /* z-index: 0; */
   } 
   to{
       transform:rotateY(0) translateZ(0px);
   }  
}  