.App {
   text-align: center;
   background-image: url("https://rare-gallery.com/uploads/posts/345116-Rick-and-Morty-Cartoon-TV-Series-Rick-Sanchez-Morty-Smith-Spaceship.jpg") ;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
   min-height: 100vh;
}

