.letras{
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: black;
height: 46px;
width: 574px;
border-radius: 20px;
font-size: 25px;
border:solid 2px rgb(123, 243, 26);   
font-weight: bold;    
};

.letras:hover{
  /* display: block; */
  /*
  color: white; */
  display: flex;
  transition: 0.5s ease;
}
.active{
color: rgb(77, 255, 0);
text-underline-offset: 9px;

}
.disable{
  text-decoration:none;
  color: white;
}






